@model PagedCountryListingServiceModel

@{
    ViewData["Title"] = "Countries List";
    var isWriter = User.IsInRole(DataConstants.WriterRole);
}

<div page-model="@Model.PagingInfo" page-action="All" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-secondary"
     page-class-selected="btn-success" class="btn-group pull-right bottom-margin-10">
</div>

<table class="table table-bordered table-striped table-hover table-responsive text-center">
    <thead>
        <tr>
            <th class="text-center text-info">Country Name</th>
            <th></th>
            @if (isWriter)
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model.Countries)
        {
            <tr>
                <td>@c.Name</td>
                <td>
                    <a asp-area=""
                       asp-controller="Country"
                       asp-action="Details"
                       asp-route-id="@c.Id"
                       class="btn btn-success">
                        View Details
                    </a>
                </td>
                @if (isWriter)
                {
                    <td>
                        <form asp-area="Writer"
                              asp-controller="Country"
                              asp-action="Delete"
                              asp-route-id="@c.Id"
                              method="post">
                            <input type="submit" class="btn btn-danger" value="Delete" />
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
