@{
    ViewData["Title"] = "Content Writer Panel";
}

<div class="text-center">
    <div class="admin-option-box link-item-box yellow-border">
        <a asp-area="Writer" asp-controller="Country" asp-action="Add">
            <h4 class="text-admin-item-header">Country Creation</h4>
            <p class="text-muted"><span class="glyphicon glyphicon-paperclip"></span> Add a new country.</p>
        </a>
    </div>
    <div class="admin-option-box link-item-box yellow-border">
        <a asp-area="Writer" asp-controller="Region" asp-action="Add">
            <h4 class="text-admin-item-header">Region Creation</h4>
            <p class="text-muted"><span class="glyphicon glyphicon-paperclip"></span> Add new region to a existing country.</p>
        </a>
    </div>
    <div class="admin-option-box link-item-box yellow-border">
        <a asp-area="Writer" asp-controller="Destination" asp-action="Add">
            <h4 class="text-admin-item-header">Destination Creation</h4>
            <p class="text-muted"><span class="glyphicon glyphicon-paperclip"></span> Add new destination in existing region of a country.</p>
        </a>
    </div>
    <div class="admin-option-box link-item-box yellow-border">
        <a asp-area="Writer" asp-controller="Tag" asp-action="Add">
            <h4 class="text-admin-item-header">Tag Creation</h4>
            <p class="text-muted"><span class="glyphicon glyphicon-paperclip"></span> Add new tag that can be used to describe a destination.</p>
        </a>
    </div>
</div>