@{
    ViewData["Title"] = "Administration Panel";
}

<div class="text-center">
    <div class="admin-option-box link-item-box orange-border">
        <a asp-area="Admin" asp-controller="Users" asp-action="All">
            <h4 class="text-admin-item-header">User Administration</h4>
            <p class="text-muted">Full administration over existing users and user role assignment</p>
        </a>
    </div>
</div>