html {
    font-size: 12pt;
}

body {
    font-size: 1.0em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.bottom-margin-10 {
    margin-bottom: 10px;
}

.btn-form {
    width: 200px;
}

td, th {
    cursor: default;
}

.text-bold {
    font-weight: bold;
}

.page-main-title {
    cursor: default;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.span-menu-glyphicon {
    display: none
}

.span-menu-text {
    display: inline-block;
}

.sidebar-nav li a:hover {
    color: black;
    background-color: white;
}

@media (max-width: 400px) {
    .span-menu-glyphicon {
        display: inline-block;
    }

    .span-menu-text {
        display: none;
    }
}

@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
    }
    .sidebar-nav .navbar ul {
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.green-border {
    border: 4px lawngreen inset;
}

.green-border:hover {
    border: 4px lawngreen outset;
}

.orange-border {
    border: 4px orangered inset;
}

.orange-border:hover {
    border: 4px orangered outset;
}

.yellow-border {
    border: 4px gold inset;
}

.yellow-border:hover {
    border: 4px gold outset;
}

.link-item-box {
    color: black;
    font-weight: bold;
    border-radius: 20px;
    margin-bottom: 10px;
}

.link-item-box:hover {
    color: black;
    background-color: white;
}

.layout-title {
    background: -moz-linear-gradient(-45deg, rgba(244,255,246,1) 0%, rgba(239,239,239,0.95) 18%, rgba(0,255,38,0.9) 37%, rgba(0,211,35,0.86) 52%, rgba(91,160,0,0.82) 66%, rgba(255,0,4,0.76) 87%, rgba(255,0,4,0.73) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(244,255,246,1) 0%,rgba(239,239,239,0.95) 18%,rgba(0,255,38,0.9) 37%,rgba(0,211,35,0.86) 52%,rgba(91,160,0,0.82) 66%,rgba(255,0,4,0.76) 87%,rgba(255,0,4,0.73) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(244,255,246,1) 0%,rgba(239,239,239,0.95) 18%,rgba(0,255,38,0.9) 37%,rgba(0,211,35,0.86) 52%,rgba(91,160,0,0.82) 66%,rgba(255,0,4,0.76) 87%,rgba(255,0,4,0.73) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4fff6', endColorstr='#baff0004',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border-bottom: 2px silver double;
    padding-top: 5px;
    border-radius: 0 0 30px 30px;
    margin-bottom: 10px;
    cursor: default;
}

.layout-title h2 {
    text-align: left;
    padding-left: 7%;
    font-weight: bold;
    font-style: italic;
    padding-bottom: 10px;
}

.layout-title p {
    text-align: right;
    padding-right: 20px;
    padding-bottom: 5px;
    font-style: italic;
    color: white;
    font-weight: lighter;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .layout-title p {
        display: none;
    }

    .layout-title h2 {
        padding-left: 0;
        text-align: center;
    }
}

.layout-title:hover {
    border-bottom: 2px dimgray double;
}

.form-control {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.form-control-text {
    text-align: center;
}

.form-control-date {
    text-align: right;
}

.admin-option-box {
    margin-bottom: 10px;
}

.text-admin-item-header {
    color: black;
    font-weight: bold;
}


.search-oprions-container {
    padding: 5px;
    border: 1px dotted silver;
    border-radius: 4px;
}

.search-option-box {
    width: 70%;
    border: 2px solid dimgray;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.search-option-box:hover {
    border: 2px solid lawngreen;
    border-radius: 15px;
    font-style: italic;
}